     
        #board {
            width: 100%;
            border-collapse: collapse;
           
            
            
        }
        
        #board th {
            text-align:center;
            border: 1px solid black;
            border-right: hidden;
            border-left: hidden;
            
        }
        
        #board td  {
            border-bottom: 1px solid black;
            text-align: center;
        
            padding: 5px 0;
            font-size: 15px;
        }