<!DOCTYPE html>

<html lang="en" xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8" />
    <title></title>
    <style>


        
    </style>
    <link href="style.css" rel="stylesheet" type="text/css">
</head>
<body>
    <div id="footer">
    <table>
    <tr>
        <td>Priacy Plicy</td>
        <td>Acceptable Use Policy(AUP)</td>
        <td>Terms of Service</td>
    </tr>
    </table>
        
        <p>Donghyeon Community #64 pademba, Rd, upper Waterllo Strret, freetown, sierra leone</p>
        <p>Copyrigts and trademarks for the manga, and other promotion sadsaffgnei asdasdwr asdas we asdasd qw</p>
        <p>© Copyright 2016 Donghyeon.in All rights reserved.</p>
        
        </div>
    

</body>
</html>